github "dreymonde/AppFolder"
github "tbaranes/SwiftyUtils"
github "efremidze/Haptica"
github "thii/FontAwesome.swift"
github "shaps80/Peek"
github "duemunk/Async"
github "Alamofire/Alamofire" "5.0.0-beta.3"
github "PiXeL16/IBLocalizable"
github "google/promises"
